.image{
    position: relative;
    width: 400px;
}
.image_img{
    display: block;
    width:100%;

}
.image-overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0,0,0.6);
    color:#ffffff;
    font-family: 'Quicksand',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.image-overlay--blur{
    backdrop-filter:blur(5px);
}
.image-overlay > *{
   transform: translateY(20px);
   transition: transform 0.25s;
}
.image-overlay:hover {
    opacity: 1;
}
.image-overlay:hover>*{
    transform: translateY(0);
}
.image-title{
   font-size: 2em;
   font-weight: bold;
}
.image-descprition{
    font-size:1.25em;
    margin-top:0.25em;
}
p{
    text-align: center;
}
a
  {
    text-decoration: none;
    background-color: yellow;
    color: black;
    border: black solid;
    text-align: center;
    width: 100px;
    margin-left: 150px;
  }
.table{
    margin-left: auto;
    margin-right: auto;
    
}